/*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f4f4f4; */

/* } */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(
    to right,
    #fcf4c9,
    #fee3e2,
    #fbcdf2,
    #e8befa,
    #abbfff,
    #bbf3c0
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  margin: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: brightness(20%);
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.color-box {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border: 3px solid #333;
  border-radius: 10px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.color-option {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-option:hover {
  transform: scale(1.1);
}

.rules-modal,
.game-over-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.rules-modal button,
.game-over-modal button {
  margin-top: 10px;
  padding: 8px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.info-icon:hover {
  cursor: pointer;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
